extends ../layout

block content
  section.login
    a(href="/")
      img(src="/img/logo.png").logo--centre

    form(action="/forgot", method="post").form-login
      h2 Reset your password
      if message
        small.err #{message}
      input(type="text", name="email", placeholder="Your email", tabindex="1")
      input(type="submit", value="Send reset password email").btn.btn--primary-su

    a(href="/login").form__small
      | Know your password? 
      b Login

append scripts
  script.
    mixpanel.track('forgot view')