extends ../layout

block content
  section.login
    a(href="/")
      img(src="/img/logo.png").logo--centre

    form(action="/reset", method="post").form-login
      h2 Reset your password
      p Enter a new password to reset the password on your account
      if message
        small.err #{message}
      input(type="password", name="password", placeholder="New Password", tabindex="1").input-top
      input(type="password", name="repeatPassword", placeholder="Repeat Password", tabindex="2").input-btm
      input(type="hidden", value="", name="resetKey").js-reset-key

      input(type="submit", value="Set as new password").btn.btn--primary-su

    a(href="/login").form__small
      | Know your password? 
      b Login

append scripts
  script.
    var $_GET = {};
    document.location.search.replace(/\??(?:([^=]+)=([^&]*)&?)/g, function () {
      function decode(s) {
        return decodeURIComponent(s.split("+").join(" "))
      }
      $_GET[decode(arguments[1])] = decode(arguments[2])
    })
    $('.js-reset-key').val($_GET.resetKey)
  script.
    mixpanel.track('reset view')