@import 'nib'

@import './mixins.styl'

@import './foundation/variables.styl'
@import './foundation/helpers.styl'
@import './foundation/base.styl'
@import './foundation/typography.styl'
@import './foundation/structure.styl'
@import './foundation/btns.styl'
@import './foundation/forms.styl'
@import './foundation/animation.styl'

html
body
  background #363e45

.landing__login
  position absolute
  top 10px
  right 10px
  border-radius 3px
  padding 5px 10px
  background #818a91
  color #363e45
  &:hover
    background #71c78b
    color #363e45

.landing__intro
.landing__pricing
.landing__mailing-list
  overflow hidden
  clearfix()
  h1
    font-size 34px
    color #ffffff
    text-align center
    margin 0 0 6px 0
  h2
    font-size 16px
    color #818a91
    text-align center
    margin 0 0 35px 0

  .btn
    background #71c78b
    font-size 22px
    font-weight 800
    width 300px
    margin 0 auto 100px auto
    display block
    &:hover
      background #47865a

.landing__logo
  margin 10px auto 60px auto
  display block
  text-align center
  animation fadeIn .3s ease-out

.landing__content
  h1
    opacity 0
    animation fadeIn .3s .3s ease-out
    animation-fill-mode forwards
  h2
    opacity 0
    animation fadeIn .3s .7s ease-out
    animation-fill-mode forwards
  .btn
    opacity 0
    animation fadeIn .3s 1s ease-out
    animation-fill-mode forwards

.landing__screenshot
  margin 0 auto
  display block
  transform translate3d(0, 100%, 0)
  animation screenshotIntro 1s .3s ease-out
  animation-fill-mode forwards

@keyframes screenshotIntro
  0%
    transform translate3d(0, 100%, 0)
  100%
    transform translate3d(0, 0, 0)



.landing__features
  padding 150px 0px 100px 0px
  background #252a2f
  clearfix()
  h3
    font-size 21px
    color #ffffff
    margin 0 0 10px 0
  p
    font-size 15px
    color #eeeff0
    margin 0
  img
    margin-bottom 40px
  .btn
    background #71c78b
    font-size 22px
    font-weight 800
    width 300px
    margin 80px auto 100px auto
    display block
    &:hover
      background #47865a

.landing__features__feature
  width 258px
  margin-right 103px
  float left
  text-align center

.no-margin-right
  margin-right 0px

.content
  width 980px
  margin 0 auto



//==============================================================================
//  Login/signup | ^
//==============================================================================
.form-login
.form-signin
  width 460px
  margin 0 auto
  background #ffffff
  padding 13px 25px 30px 25px
  border-radius 3px
  input
    width 100%
    margin-bottom 20px
  .btn
    height 60px
    margin-bottom 0px
    background $colorGreen
  h2
    text-align center
    margin-bottom 10px
    font-size: 25px;
    font-weight: 700;
    color #363e45
  p
    font-size 15px
    text-align center
    color $colorTypeSecondary
    max-width 80%
    line-height 18px
    margin 0px auto 20px auto
  .err
    color $colorWarning
    font-size 16px
    text-align center
    display block
    margin-bottom 14px

.form__small
  text-align: center;
  margin-top: 20px;
  display: block;
  color: #6b7680;


//==============================================================================
//  Pricing | ^
//==============================================================================
.landing__pricing__packages
  clearfix()

.landing__pricing__package
  width 258px
  margin-right 103px
  float left
  text-align center
  background #2e353b
  border-radius 3px
  overflow hidden
  color #ffffff
  transition all .5s
  cursor pointer
  h3
    transition all .5s
    background #252a2f
    padding 30px 0px
    margin 0
    color #ffffff
    font-size 22px
  h4
    font-size 71px
    margin 25px 0px 40px 0px
    small
      font-size 16px
  p
    transition all .5s
    color #535a5f
    strong
      color #ffffff
  &:hover
    background #71c78b
    color #ffffff
    h3
      background #47865a
    p
      color #47865a



//==============================================================================
//  Mailing list | ^
//==============================================================================
.landing__mailing-list
  h2
    margin 0 auto 125px auto
    width 60%

.form-mailing-list
  background #252a2f
  padding 35px
  width 660px
  border-radius 6px
  margin 0 auto
  clearfix()
  input
    width 435px
    margin 0
    display inline-block
    border 0px
    height 56px
    vertical-align top
    border-radius 3px 0px 0px 3px
  .btn
    width 155px
    height 56px
    display inline-block
    border-radius 0px 3px 3px 0px
    margin 0
