section.row.clearfix
  .jumbotron
    .row
      .col-lg-4
        img(src="{{project.thumbnail}}")
      .col-lg-8
        h2 {{project.title}}
        p {{project.description}}
        //- a(ng-click="removeTask(task._id)") Delete

section.tasks.row
  .page-header
    h4 Tasks
  .row
    div(ng-repeat="task in tasks").col-md-4
      .panel.panel-default
        .panel-body
          //- a(href="/tasks/{{task._id}}")
          h2 {{task.title}}
          p {{task.description}}
          .btn.btn-primary(ng-if="false", ng-click="startTimer(task)")
            i.fa.fa-play
            strong Start
          .btn.btn-primary(ng-if="false", ng-click="stopTimer('52d45ebbc250deffc3da5766')")
            i.fa.fa-stop
            strong Stop
        .panel-footer
          .row
            .col-md-6
              i.fa.fa-clock-o 
              strong {{task.time | timePretty}}
            .col-md-6
              i.fa.fa-bars 
              strong {{task.estimate | timePretty}}

.row
  .well
    form(role="form").form-horizontal
      h4 Add Task
      .row
        div.form-group
          label(for="title").col-lg-2.control-label Title
          .col-lg-10
            input(type="text", id="title", ng-model="task.title").form-control
        div.form-group
          label(for="description").col-lg-2.control-label Description
          .col-lg-10
            textarea(id="description", ng-model="task.description").form-control
        .col-lg-10.col-lg-offset-2
          button(type="submit", ng-click="addTask()").btn.btn-default Submit