.reports
  .element
    h3 Create a report

    form
      .form-group
        label(for="projects") Projects
        input(type="text", id="projects", placeholder="Projects", ng-model="query.projects", required).form-control

      .form-group
        label(for="tags") Tags
        input(type="text", id="tags", placeholder="Tags", ng-model="query.tags", required).form-control

      .form-group
        label(for="start") From
        i.fa.fa-calendar-o
        input(type="text", datepicker-popup="{{format}}", ng-model="query.start")
        //- input(type="text", id="start", placeholder="Start Date", ng-model="query.start", required).form-control

      .form-group
        label(for="end") To
        i.fa.fa-calendar-o
        input(type="text", datepicker-popup="{{format}}", ng-model="query.end")
        //- input(type="text", id="end", placeholder="End Date", ng-model="query.end", required).form-control

      .form-group
        a(ng-click="search()").btn.btn-primary
          i.fa.fa-search
          | Search

    h3 Quick Date Options
    a(ng-click="setQueryToday()").btn.btn-default Today
    a(ng-click="setQueryWeek()").btn.btn-default This Week
    a(ng-click="setQueryMonth()").btn.btn-default This Month

  .results
    h3(ng-if="results.length === 0") No timers found
    table(ng-if="results.length")
      thead
        tr
          th Title
          th Project
          th Date
          th Time
      tbody
        tr(ng-repeat="result in results")
          td {{result.title}}
          td {{getProjectTitle(result.project)}}
          td {{datePretty(result.date)}}
          td {{timePretty(result.total)}}

  //- div(ng-class="{'is-hided': !paginationViewable}")
  //-   pagination(total-items="totalItems", page="currentPage", items-per-page="pageSize", direction-links="false")