.reports
  .element
    h3 Create a report
    //- pre {{query | json}}

    form.form-report
      .form-report__date
        .form-report__date__from
          label(for="start").form-report__label From
          //- i.fa.fa-calendar-o
          input(type="text", datepicker-popup="{{format}}", ng-model="query.start", placeholder="Start date").form-report__input

        .form-report__date__to
          label(for="end").form-report__label To
          //- i.fa.fa-calendar-o
          input(type="text", datepicker-popup="{{format}}", ng-model="query.end", placeholder="End date").form-report__input

        .form-report__date__quick
          //- h3 Quick Date Options
          a(ng-click="setQueryToday()").btn.btn-default Today
          a(ng-click="setQueryWeek()").btn.btn-default This Week
          a(ng-click="setQueryMonth()").btn.btn-default This Month

      .form-report__second_row__tags
        label(for="projects").form-report__label Projects
        div.form-report__input
          select(ui-select2="projectsOptions", multiple, ng-model="query.projects", id="projects")
            option(ng-repeat="project in projects", ng-bind="project.title", value="{{project._id}}")

      .form-report__second_row__projects
        label(for="tags").form-report__label Tags
        div.form-report__input
          input(type="text", ui-select2="tagsOptions", ng-model="query.tags", id="tags")

      .form-report__submit
        a(ng-click="search()").btn.btn-primary
          i.fa.fa-search
          | Search

  .results
    //- div(google-chart, chart="chartObject")
    h3(ng-if="results.length === 0") No timers found
    table(ng-if="results.length")
      thead
        tr
          th.results__column-title Title
          th.results__column-project Project
          th.results__column-tags Tags
          th.results__column-date Date
          th.results__column-time Time
      tbody
        tr(ng-repeat="result in results")
          td.results__column-title {{result.title}}
          td.results__column-project {{getProjectTitle(result.project)}}
          td.results__column-tags
            span(ng-repeat="tag in result.tags", ng-bind="tag").tag
          td.results__column-date {{datePretty(result.date)}}
          td.results__column-time {{timePretty(result.total)}}

  //- div(ng-class="{'is-hided': !paginationViewable}")
  //-   pagination(total-items="totalItems", page="currentPage", items-per-page="pageSize", direction-links="false")