.element
  h2 Settings
  .form-group
    label(for="username") Name
    input(type="text", id="username", placeholder="Title*", ng-model="user.username", required).form-control
    p(ng-show="user.username.$invalid && !user.username.$pristine").form-err A title is required
  .form-group
    label(for="email") Email
    strong(ng-bind="user.email")
    a.btn.btn--sm Change Email
    //- input(type="text", id="email", placeholder="Title*", ng-model="user.email", required).form-control
    //- p(ng-show="user.email.$invalid && !user.email.$pristine").form-err A title is required
  .form-group
    a.btn.btn--sm Change Password