.timers
  //- pre {{currentTimer | json}}
  nav.timers-nav
    .btn(ng-click="getToday()", ng-class="{'is-active': filter === 'today'}") Today
    .btn(ng-click="getThisWeek()", ng-class="{'is-active': filter === 'this week'}") This Week
    //- .btn(ng-click="getThisMonth()", ng-class="{'is-active': filter === 'month'}") This Month
    //- .col-md-4
    //-   .btn Start
    //-   .btn End

  div(ng-if="timers.length === 0").timer
    h1 You have no timers {{filter}}
    h3 Start a timer in the toolbar above.

  timer(ng-repeat="timer in timers | reverse", timers="timers", ng-dblclick="edit()").timer
    .timer__desc
      h2(ng-bind="timer.title", ng-if="!editable").timer__title
      input(ng-model="timer.title", ng-if="editable")
      h4(ng-bind="getProjectTitle(timer.project)", ng-if="!editable").timer__project
      input(ng-if="editable", type="text", id="project", placeholder="Project", ng-model="timer.project", typeahead="project._id as project.title for project in projects | filter: $viewValue", typeahead-input-formatter="formatLabel($model)")
      .timer__tags(ng-if="timer.tags")
        div(ng-if="!editable")
          i.fa.fa-tags
          span(ng-repeat="tag in timer.tags", ng-bind="tag").tag
        div(ng-if="editable")
          tags(data-options="{addable: true}", data-src="tag as tag for tag in tags", data-model="timer.tags")
    .timer__time
      h3
        i.fa.fa-clock-o
        | {{timePretty(timer.total)}}
    .timer__btn
      //- a(ng-click="continue()", ng-if="!timer.active && !editable").btn.btn-default Continue
      a(ng-click="stop()", ng-if="timer.active && !editable").btn.btn-warning Stop
      a(ng-click="save()", ng-if="editable").btn.btn-primary Save
      a(ng-click="remove()")
        i.fa.fa-times
        | Remove

  div(ng-class="{'is-hided': !paginationViewable}")
    pagination(total-items="totalItems", page="currentPage", items-per-page="pageSize", direction-links="false")

    //- h6(ng-bind="timer.date")
    //- .clearfix
    //- .col-md-2
    //-   dl
    //-     dt Total:
    //-     dd(ng-bind="timePretty(timer.total)", ng-if="!editable").badge
    //-     dd(ng-if="editable")
    //-       input(type="time", ng-model="timer.total")
    //-   a(ng-click="delete(timer)")
    //-     .glyphicon.glyphicon-remove
    //-     | Delete