.timer__current(ng-if="currentTimer")
  .container
    .clearfix.timer__current__basic
      .timer__current__desc
        h3(ng-bind="currentTimer.title")
        h5(ng-bind="getProjectTitle(currentTimer.project)")
        div.timer__current__tags(ng-if="currentTimer.tags")
          i.fa.fa-tags
          span(ng-repeat="tag in currentTimer.tags", ng-bind="tag").tag
      .timer__current__time
        i.fa.fa-clock-o
        | {{timePretty(currentTimer.total)}}
      .timer__current__action
        a(ng-click="stopTimer(currentTimer)").btn.btn-warning Stop Timer

form(name="timerForm", novalidate, ng-submit="startTimer(timer)", ng-if="!currentTimer", ng-class="{'timer-focus': navOpen, 'timer-fixed': fixedTimer}")
  //- pre {{timer | json}}
  //- pre timerForm.$invalid: {{timerForm.$invalid}}
  //- pre timerForm.$valid: {{timerForm.$valid}}
  //- pre timerForm.$pristine: {{timerForm.$pristine}}
  //- pre timerForm.$dirty: {{timerForm.$dirty}}
  .timer__basic
    .container
      .form-group.timer__basic__title
        label(for="title").sr-only Title
        input(type="text", id="title", placeholder="Title*", ng-model="timer.title", autocomplete="off", required).form-control
        p(ng-show="timerForm.name.$invalid && !timerForm.name.$pristine").form-err A title is required
      .form-group.timer__basic__project
        label(for="project").sr-only Project
        input(ng-if="projects.length !== 0", type="text", id="project", placeholder="Select project", ng-model="timer.project", typeahead="project._id as project.title for project in projects | filter: $viewValue", typeahead-input-formatter="formatLabel($model)").form-control
        a(ng-if="projects.length === 0", ng-click="createProject()").btn.btn-default Create a project to assign timer to
      .form-group.timer__basic__btn
        button(type="submit", ng-disabled="timerForm.$invalid").btn.btn-primary Start Timer
        //- a(ng-click="startTimer(timer)", ng-disabled="timerForm.$invalid", ng-if="!timer.time && todaysDate()").btn.btn-primary Start Timer
        //- a(ng-click="addTimer(timer)", ng-disabled="timerForm.$invalid", ng-if="timer.time || !todaysDate()").btn.btn-primary Add Time
  .timer__advanced
    .container
      .clearfix
        .form-group.timer__advanced__tags
          label.sr-only Tags
          tags(data-options="{addable: true}", data-src="tag as tag for tag in tags", data-model="timer.tags")
        .form-group.form-icon.timer__advanced__time
          time(model="timer.before")
      span.timer__fixed-trigger(ng-if="!fixedTimer", ng-click="triggerFixedTimer()") Want to add a fixed time instead?
  .timer__fixed(ng-if="fixedTimer")
    .container
      .form-group.form-icon.timer__fixed__date
        i.fa.fa-calendar-o
        input(type="text", datepicker-popup="{{format}}", ng-model="timer.date", show-button-bar="false", show-weeks="false")
      .form-group.form-icon.timer__fixed__total
        time(model="timer.total")
      .form-group.timer__fixed__btn
        a(ng-click="addTimer(timer)", ng-disabled="timerForm.$invalid").btn.btn-primary Add Timer
  .timer__error
    h3(ng-if="errors", ng-bind="errors")
    //- .form-group.form-icon.timer__advanced__date
    //-   i.fa.fa-calendar-o
    //-   input(type="text", datepicker-popup="{{format}}", ng-model="timer.date", is-open="opened", datepicker-options="dateOptions", date-disabled="disabled(date, mode)", close-text="Close")
    //-   //- span.input-group-btn
    //-   //-   button(ng-click="open($event)").btn.btn-default
    //-   //-     i.glyphicon.glyphicon-calendar