.time-widget
  label(for="currentTime").sr-only Current Time
  label(for="hours")
    i.fa.fa-clock-o
    input(type="text", name="hours", ng-model="hour", number).time-widget__value
    strong.time-widget__title hr
  label(for="minutes")
    input(type="text", name="minutes", ng-model="minutes", number, minute).time-widget__value
    strong.time-widget__title min



  //- input(type="time", id="currentTime", placeholder="Current Time", ng-model="timer.time").form-control
  //- onkeypress="return isNumberKey(event)"