doctype
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Molyneux
    link(rel='stylesheet', href='/css/app.css')
    //- link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
    //- link(rel='stylesheet', href='/bower_components/angular-tags/dist/angular-tags-0.2.10.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/main.css')
    script.
      var user = '#{userId}'
    //- script(type="text/javascript", src="//use.typekit.net/ocs1xrk.js")
    //- script(type="text/javascript").
    //-   try{Typekit.load();}catch(e){}
  body
    aside.aside-nav
      header
        h1.header-logo Talllies
      nav.nav
        ul
          li.is-active
            i.fa.fa-clock-o
            a(href="/") Timers
          li
            i.fa.fa-copy
            a(href="/projects") Projects
        //- if username
        //-   ul.nav.navbar-nav.navbar-right
        //-     li
        //-       a(href="/logout", target="_self") Logout
        //-     li
        //-       | Logged in as: 
        //-       img(src="/uploads/#{avatar}")
        //-       | #{username}


    .content-wrapper
      section.content
        //- pre Model: {{timer | json}}
        header(ng-controller="TimerCtrl").header-timer
          section(ng-if="currentTimer").timer__current
            .container
              .clearfix.timer__current__basic
                h3(ng-bind="currentTimer.title").timer__current__title
                h5(ng-bind="currentTimer.project").timer__current__project
                h3.timer__current__time
                  i.fa.fa-clock-o
                  | {{timePretty(currentTimer.total)}}
                .timer__current__btn
                  a(ng-click="stopTimer(currentTimer)").btn.btn-warning Stop Timer
              //- div(ng-if="currentTimer.tags").clearfix.timer__current__tags
              //-   span(ng-repeat="tag in currentTimer.tags", ng-bind="tag.name").label.label-info

          form(name="timerForm", novalidate, ng-if="!currentTimer", ng-class="{'timer-focus': timer.title}")
            .timer__basic
              .container
                .form-group.timer__basic__title
                  label(for="title").sr-only Title
                  input(type="text", id="title", placeholder="Title*", ng-model="timer.title", autocomplete="off", required).form-control
                  p(ng-show="timerForm.name.$invalid && !timerForm.name.$pristine").form-err A title is required
                .form-group.timer__basic__project
                  label(for="project").sr-only Project
                  input(type="text", id="project", placeholder="Project", ng-model="timer.project", typeahead="project._id as project.title for project in projects | filter: $viewValue", typeahead-input-formatter="formatLabel($model)").form-control
                .form-group.timer__basic__btn
                  button(ng-click="startTimer(timer)", ng-disabled="timerForm.$invalid", ng-if="!timer.time").btn.btn-primary Start Timer
                  button(ng-click="addTimer(timer)", ng-disabled="timerForm.$invalid", ng-if="timer.time").btn.btn-primary Add Time
            .timer__advanced
              .container
                .form-group.timer__advanced__tags
                  label.sr-only Tags
                  tags(data-options="{addable: true}", data-src="tag.value as tag.name for tag in tags", data-model="timer.tags")
                .form-group.form-icon.timer__advanced__time
                  i.fa.fa-clock-o
                  label(for="currentTime").sr-only Current Time
                  input(type="time", id="currentTime", placeholder="Current Time", ng-model="timer.time").form-control
                .form-group.form-icon.timer__advanced__date
                  i.fa.fa-calendar-o
                  input(type="text", datepicker-popup="{{format}}", ng-model="timer.date", is-open="opened", min="minDate", max="'2015-06-22'", datepicker-options="dateOptions", date-disabled="disabled(date, mode)", close-text="Close")
                  //- span.input-group-btn
                  //-   button(ng-click="open($event)").btn.btn-default
                  //-     i.glyphicon.glyphicon-calendar

        div(ng-view).container

      //- .container
      //-   //- block body
      //-   .row
      //-     div(ng-view).col-md-10
      //-       // App is here
      //-     //- .col-md-2(ng-controller="OnlineCtrl")
      //-     //-   .well.affix
      //-     //-     h3 {{team.name}} Members Online
      //-     //-     div(ng-repeat='user in users')
      //-     //-       img(src="/uploads/{{team.members[user].avatar}}")
      //-     //-       h5{{user}}

    //- script(src='/js/lib/jquery-2.0.3.min.js')
    //- script(src='/js/lib/angular-1.2.9.js')
    //- script(src='/js/lib/angular-file-upload-shim.js')
    //- script(src='bower_components/underscore/underscore-min.js')


    //- script(src='/js/lib/angular-file-upload.js')

    //- script(src='/socket.io/socket.io.js')
    //- script(src='bower_components/angular-socket-io/socket.js')
    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='/bower_components/angular-route/angular-route.js')
    script(src='bower_components/angular-resource/angular-resource.js')
    script(src='/js/lib/angular-tags-0.2.10-tpls.js')




    script(src='js/helpers.js')
    script(src='js/app.js')
    script(src='js/services.js')
    //- script(src='js/controllers/project.js')
    //- script(src='js/controllers/users.js')
    script(src='js/controllers/timer.js')
    script(src='js/controllers/timers.js')
    script(src='js/controllers/projects.js')
    script(src='js/filters.js')
    script(src='js/directives.js')