doctype
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Molyneux
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css')
  body
    header(role="banner").navbar.navbar-inverse.navbar-fixed-top
      div.container
        nav(role="navigation").collapse.navbar-collapse.bs-navbar-collapse
          if username
            ul.nav.navbar-nav.navbar-right
              li
                a(href="/logout", target="_self") Logout
              li
                | Logged in as: 
                img(src="/imgs/users/#{avatar}")
                | #{username}

    block body

    script(src='/js/lib/jquery-2.0.3.min.js')
    block scripts