.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.no-margin-top {
  margin-top: 0;
}
.sr-only {
  display: none;
}
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
}
.is-hided {
  display: none;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img,
video {
  max-width: 100%;
  height: auto;
  width: auto;
  vertical-align: top;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.no-margin-right {
  margin-right: 0px !important;
}
img.alignleft {
  float: left;
  margin-right: 15px;
}
img.alignright {
  float: right;
  margin-left: 15px;
}
.fb-like {
  margin-right: 10px;
}
body {
  font-family: "proxima-nova-soft", sans-serif;
}
p {
  font-size: 16px;
  line-height: 22px;
}
h1 {
  font-size: 30px;
  text-align: center;
}
@media $mediaTab {
  h1 {
    font-size: 84px;
  }
}
h2 {
  font-size: 40px;
  margin: 0px 0px 10px 0px;
}
a {
  text-decoration: none;
  font-weight: 800;
  color: #7e9bb8;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #b2c3d4;
}
small {
  color: #fff;
  font-size: 16px;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #eeeff0;
}
.container {
  max-width: 880px;
  margin: 0 auto;
}
.timers,
.projects {
  -webkit-animation: fadeIn 0.3s;
  -moz-animation: fadeIn 0.3s;
  -o-animation: fadeIn 0.3s;
  -ms-animation: fadeIn 0.3s;
  animation: fadeIn 0.3s;
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
a.btn,
.btn,
button {
  font-family: "proxima-nova-soft", sans-serif;
  padding: 15px 30px;
  margin-right: 10px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  background-color: #b4bac2;
  color: #fff;
  font-size: 15px;
  font-weight: 800;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
  text-align: center;
  border: 0;
}
a.btn:hover,
.btn:hover,
button:hover {
  background-color: #9fa7b1;
}
a.btn[disabled="disabled"],
.btn[disabled="disabled"],
button[disabled="disabled"] {
  cursor: not-allowed;
}
a.btn.is-active,
.btn.is-active,
button.is-active {
  background: #41494f;
  color: #fff;
}
a.btn-default,
.btn-default {
  background-color: #7e9bb8;
  color: #fff;
}
a.btn-default:hover,
.btn-default:hover {
  background-color: #4d6c8c;
}
a.btn-primary,
.btn-primary {
  background-color: #6ec689;
  color: #fff;
}
a.btn-primary:hover,
.btn-primary:hover {
  background-color: #3d9b5a;
}
a.btn-warning,
.btn-warning {
  background-color: #be3636;
  color: #fff;
}
a.btn-warning:hover,
.btn-warning:hover {
  background-color: #852626;
}
.input-clear,
input,
textarea {
  outline: 0;
  border: 0px;
  background: transparent;
}
.list-no-style {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
input,
textarea {
  font-family: "proxima-nova-soft", sans-serif;
  padding: 15px;
  font-size: 16px;
  margin-right: 10px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  -ms-transition: background-color 1s;
  transition: background-color 1s;
  color: #363e45;
  background-color: #fff;
  border: 3px solid #eeeff0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
input:focus,
textarea:focus {
  border-color: #7e9bb8;
}
.form-icon {
  position: relative;
}
.form-icon input {
  padding-left: 40px;
}
.form-icon i {
  position: absolute;
  left: 12px;
  top: 15px;
  color: #fff;
  font-size: 22px;
}
::-webkit-input-placeholder {
  color: #b4bac2;
}
:-moz-placeholder {
  color: #b4bac2;
}
::-moz-placeholder {
  color: #b4bac2;
}
:-ms-input-placeholder {
  color: #b4bac2;
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
html,
body {
  background: #363e45;
}
.landing__login {
  position: absolute;
  top: 10px;
  right: 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 5px 10px;
  background: #818a91;
  color: #363e45;
}
.landing__login:hover {
  background: #71c78b;
  color: #363e45;
}
.landing__intro,
.landing__pricing,
.landing__mailing-list {
  overflow: hidden;
  zoom: 1;
}
.landing__intro:before,
.landing__pricing:before,
.landing__mailing-list:before,
.landing__intro:after,
.landing__pricing:after,
.landing__mailing-list:after {
  content: "";
  display: table;
}
.landing__intro:after,
.landing__pricing:after,
.landing__mailing-list:after {
  clear: both;
}
.landing__intro h1,
.landing__pricing h1,
.landing__mailing-list h1 {
  font-size: 34px;
  color: #fff;
  text-align: center;
  margin: 0 0 6px 0;
}
.landing__intro h2,
.landing__pricing h2,
.landing__mailing-list h2 {
  font-size: 16px;
  color: #818a91;
  text-align: center;
  margin: 0 0 35px 0;
}
.landing__intro .btn,
.landing__pricing .btn,
.landing__mailing-list .btn {
  background: #71c78b;
  font-size: 22px;
  font-weight: 800;
  width: 300px;
  margin: 0 auto 100px auto;
  display: block;
}
.landing__intro .btn:hover,
.landing__pricing .btn:hover,
.landing__mailing-list .btn:hover {
  background: #47865a;
}
.landing__logo {
  margin: 10px auto 60px auto;
  display: block;
  text-align: center;
  -webkit-animation: fadeIn 0.3s ease-out;
  -moz-animation: fadeIn 0.3s ease-out;
  -o-animation: fadeIn 0.3s ease-out;
  -ms-animation: fadeIn 0.3s ease-out;
  animation: fadeIn 0.3s ease-out;
}
.landing__content h1 {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-animation: fadeIn 0.3s 0.3s ease-out;
  -moz-animation: fadeIn 0.3s 0.3s ease-out;
  -o-animation: fadeIn 0.3s 0.3s ease-out;
  -ms-animation: fadeIn 0.3s 0.3s ease-out;
  animation: fadeIn 0.3s 0.3s ease-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.landing__content h2 {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-animation: fadeIn 0.3s 0.7s ease-out;
  -moz-animation: fadeIn 0.3s 0.7s ease-out;
  -o-animation: fadeIn 0.3s 0.7s ease-out;
  -ms-animation: fadeIn 0.3s 0.7s ease-out;
  animation: fadeIn 0.3s 0.7s ease-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.landing__content .btn {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-animation: fadeIn 0.3s 1s ease-out;
  -moz-animation: fadeIn 0.3s 1s ease-out;
  -o-animation: fadeIn 0.3s 1s ease-out;
  -ms-animation: fadeIn 0.3s 1s ease-out;
  animation: fadeIn 0.3s 1s ease-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.landing__screenshot {
  margin: 0 auto;
  display: block;
  -webkit-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-animation: screenshotIntro 1s 0.3s ease-out;
  -moz-animation: screenshotIntro 1s 0.3s ease-out;
  -o-animation: screenshotIntro 1s 0.3s ease-out;
  -ms-animation: screenshotIntro 1s 0.3s ease-out;
  animation: screenshotIntro 1s 0.3s ease-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.landing__features {
  padding: 150px 0px 100px 0px;
  background: #252a2f;
  zoom: 1;
}
.landing__features:before,
.landing__features:after {
  content: "";
  display: table;
}
.landing__features:after {
  clear: both;
}
.landing__features h3 {
  font-size: 21px;
  color: #fff;
  margin: 0 0 10px 0;
}
.landing__features p {
  font-size: 15px;
  color: #eeeff0;
  margin: 0;
}
.landing__features img {
  margin-bottom: 40px;
}
.landing__features .btn {
  background: #71c78b;
  font-size: 22px;
  font-weight: 800;
  width: 300px;
  margin: 80px auto 100px auto;
  display: block;
}
.landing__features .btn:hover {
  background: #47865a;
}
.landing__features__feature {
  width: 258px;
  margin-right: 103px;
  float: left;
  text-align: center;
}
.no-margin-right {
  margin-right: 0px;
}
.content {
  width: 980px;
  margin: 0 auto;
}
.form-login,
.form-signin {
  width: 460px;
  margin: 0 auto;
  background: #fff;
  padding: 13px 25px 30px 25px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.form-login input,
.form-signin input {
  width: 100%;
  margin-bottom: 20px;
}
.form-login .btn,
.form-signin .btn {
  height: 60px;
  margin-bottom: 0px;
  background: #6ec689;
}
.form-login h2,
.form-signin h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
  color: #363e45;
}
.form-login p,
.form-signin p {
  font-size: 15px;
  text-align: center;
  color: $colorTypeSecondary;
  max-width: 80%;
  line-height: 18px;
  margin: 0px auto 20px auto;
}
.form-login .err,
.form-signin .err {
  color: $colorWarning;
  font-size: 16px;
  text-align: center;
  display: block;
  margin-bottom: 14px;
}
.form__small {
  text-align: center;
  margin-top: 20px;
  display: block;
  color: #6b7680;
}
.landing__pricing__packages {
  zoom: 1;
}
.landing__pricing__packages:before,
.landing__pricing__packages:after {
  content: "";
  display: table;
}
.landing__pricing__packages:after {
  clear: both;
}
.landing__pricing__package {
  width: 258px;
  margin-right: 103px;
  float: left;
  text-align: center;
  background: #2e353b;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
.landing__pricing__package h3 {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  background: #252a2f;
  padding: 30px 0px;
  margin: 0;
  color: #fff;
  font-size: 22px;
}
.landing__pricing__package h4 {
  font-size: 71px;
  margin: 25px 0px 40px 0px;
}
.landing__pricing__package h4 small {
  font-size: 16px;
}
.landing__pricing__package p {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  color: #535a5f;
}
.landing__pricing__package p strong {
  color: #fff;
}
.landing__pricing__package:hover {
  background: #71c78b;
  color: #fff;
}
.landing__pricing__package:hover h3 {
  background: #47865a;
}
.landing__pricing__package:hover p {
  color: #47865a;
}
.landing__mailing-list h2 {
  margin: 0 auto 125px auto;
  width: 60%;
}
.form-mailing-list {
  background: #252a2f;
  padding: 35px;
  width: 660px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin: 0 auto;
  zoom: 1;
}
.form-mailing-list:before,
.form-mailing-list:after {
  content: "";
  display: table;
}
.form-mailing-list:after {
  clear: both;
}
.form-mailing-list input {
  width: 435px;
  margin: 0;
  display: inline-block;
  border: 0px;
  height: 56px;
  vertical-align: top;
  -webkit-border-radius: 3px 0px 0px 3px;
  border-radius: 3px 0px 0px 3px;
}
.form-mailing-list .btn {
  width: 155px;
  height: 56px;
  display: inline-block;
  -webkit-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
  margin: 0;
}
@-moz-keyframes screenshotIntro {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes screenshotIntro {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes screenshotIntro {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-ms-keyframes screenshotIntro {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes screenshotIntro {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
