.pull-left{float:left}
.pull-right{float:right}
.no-margin-top{margin-top:0}
.sr-only{display:none}
.truncate,.timer__current__title,.timer__title{width:250px;white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;display:block}
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
img,video{max-width:100%;height:auto;width:auto;vertical-align:top}
.clearfix:before,.clearfix:after{content:" ";display:table}
.clearfix:after{clear:both}
.clearfix{*zoom:1}
.no-margin-right{margin-right:0 !important}
img.alignleft{float:left;margin-right:15px}
img.alignright{float:right;margin-left:15px}
.fb-like{margin-right:10px}
body{font-family:"proxima-nova-soft",sans-serif}
p{font-size:16px;line-height:22px}
h1{font-size:30px;text-align:center;}
@media $mediaTab{h1{font-size:84px}
}h2{font-size:40px;margin:0 0 10px 0}
a{text-decoration:none;font-weight:800;color:inherit}
small{color:#fff;font-size:16px}
body,html{margin:0;padding:0;height:100%;background:#eeeff0}
.container{max-width:880px;margin:0 auto}
a.btn,.btn,button{font-family:"proxima-nova-soft",sans-serif;padding:15px 30px;margin-right:10px;-webkit-border-radius:4px;border-radius:4px;display:inline-block;background-color:#b4bac2;color:#fff;font-size:15px;font-weight:800;-webkit-transition:background-color .3s;-moz-transition:background-color .3s;-o-transition:background-color .3s;-ms-transition:background-color .3s;transition:background-color .3s;cursor:pointer;text-align:center;border:0;}
a.btn:hover,.btn:hover,button:hover{background-color:#9fa7b1}
a.btn[disabled="disabled"],.btn[disabled="disabled"],button[disabled="disabled"]{background:#eeeff0;color:#40484e;cursor:not-allowed;}
a.btn[disabled="disabled"]:hover,.btn[disabled="disabled"]:hover,button[disabled="disabled"]:hover{background:#eeeff0;color:#40484e}
a.btn.is-active,.btn.is-active,button.is-active{background:#41494f;color:#fff}
a.btn-default,.btn-default{background-color:#7e9bb8;color:#fff;}
a.btn-default:hover,.btn-default:hover{background-color:#4d6c8c}
a.btn-primary,.btn-primary{background-color:#6ec689;color:#fff;}
a.btn-primary:hover,.btn-primary:hover{background-color:#3d9b5a}
a.btn-warning,.btn-warning{background-color:#be3636;color:#fff;}
a.btn-warning:hover,.btn-warning:hover{background-color:#852626}
.input-clear,input,textarea{outline:0;border:0;background:transparent}
.list-no-style,.nav ul{list-style-type:none;margin:0;padding:0}
input,textarea{font-family:"proxima-nova-soft",sans-serif;padding:15px;font-size:16px;margin-right:10px;-webkit-border-radius:4px;border-radius:4px;-webkit-transition:background-color 1s;-moz-transition:background-color 1s;-o-transition:background-color 1s;-ms-transition:background-color 1s;transition:background-color 1s;color:#fff;}
input:focus,textarea:focus{background-color:#233f56}
.form-icon{position:relative;}
.form-icon input{padding-left:40px}
.form-icon i{position:absolute;left:15px;top:15px;color:#fff;font-size:22px}
::-webkit-input-placeholder{color:#fff}
:-moz-placeholder{color:#fff}
::-moz-placeholder{color:#fff}
:-ms-input-placeholder{color:#fff}
.aside-nav{width:170px;position:fixed;background:#363e45;color:#eeeff0;height:100%;z-index:9999;top:0;bottom:0;left:0}
.header-logo{margin:0;font-size:25px;text-align:center;height:70px;padding-top:15px}
.nav li{text-align:center;font-size:25px;padding:50px 0}
.nav .is-active{background:#41494f}
.nav i{display:block;font-size:40px}
.content-wrapper{margin:93px 0 0 170px}
.header-timer{background:#41494f;-webkit-box-shadow:0 10px rgba(54,62,69,0.1);box-shadow:0 10px rgba(54,62,69,0.1);position:fixed;top:0;left:0;right:0;z-index:999;padding-left:170px;}
.header-timer input{background:#535a5f;width:100%;height:51px;}
.header-timer input:focus{background:#626b71}
.timer__current__basic{padding:10px 0}
.timer__current__title{width:340px;float:left;font-size:18px;color:#fff;margin:13px 20px 0 0}
.timer__current__project{width:160px;float:left;color:#b4bac2;min-height:10px;font-size:18px;margin:13px 20px 0 0}
.timer__current__time{width:160px;float:left;font-size:18px;color:#fff;margin:13px 20px 0 0;}
.timer__current__time i{margin-right:10px;font-size:20px}
.timer__current__btn{width:160px;float:left;}
.timer__current__btn .btn{width:100%}
.timer__basic{background:#41494f;padding:10px 0;height:69px;zoom:1}
.timer__basic:before,.timer__basic:after{content:"";display:table}
.timer__basic:after{clear:both}
.timer__basic__title{width:340px;margin-right:20px;float:left}
.timer__basic__project{width:340px;margin-right:20px;float:left}
.timer__basic__btn{width:160px;float:left;}
.timer__basic__btn .btn{width:100%}
.timer__advanced{background:#384045;zoom:1;height:71px;padding:10px 0;}
.timer__advanced:before,.timer__advanced:after{content:"";display:table}
.timer__advanced:after{clear:both}
.timer__advanced input{background:#41494f;}
.timer__advanced input:focus{background:#41494f}
.timer__advanced__tags{width:520px;float:left;margin-right:20px;background:#41494f;-webkit-border-radius:3px;border-radius:3px;}
.timer__advanced__tags input{min-width:160px;width:160px}
.decipher-tags-tag{background:#2b3137;color:#535a5f;padding:5px 10px;text-transform:uppercase;}
.decipher-tags-tag i{cursor:pointer}
.timer__advanced__time{width:160px;float:left;margin-right:20px}
.timer__advanced__date{width:160px;float:left}
.form-group{position:relative;}
.form-group .dropdown-menu{position:absolute;top:0;right:0;width:323px;}
.form-group .dropdown-menu button{padding:4px}
.timer__advanced{height:0;padding:0;display:none;-webkit-transition:height .4s, padding .4s .1s;-moz-transition:height .4s, padding .4s .1s;-o-transition:height .4s, padding .4s .1s;-ms-transition:height .4s, padding .4s .1s;transition:height .4s,padding .4s .1s}
.timer__advanced__time,.timer__advanced__date,.timer__advanced__tags{-webkit-transition:opacity .4s .4s;-moz-transition:opacity .4s .4s;-o-transition:opacity .4s .4s;-ms-transition:opacity .4s .4s;transition:opacity .4s .4s;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}
.timer-focus .timer__advanced{height:71px;padding:10px 0;display:block}
.timer-focus .timer__advanced__time,.timer-focus .timer__advanced__date,.timer-focus .timer__advanced__tags{opacity:1;-ms-filter:none;filter:none}
.timers{margin-top:40px}
.timer{background:#fff;zoom:1;margin-bottom:10px;-webkit-border-radius:4px;border-radius:4px;display:block;padding:15px}
.timer:before,.timer:after{content:"";display:table}
.timer:after{clear:both}
.timer__title{font-size:25px;margin:0;color:#41494f;width:100%}
.timer__project{margin:0}
.timer__desc{width:480px;margin-right:20px;float:left}
.timer__tags i{margin-right:5px;color:#b4bac2}
.timer__time{width:128px;float:left;}
.timer__time i{font-size:20px;margin-right:5px}
.timer__btn{width:160px;float:right;}
.timer__btn .btn{width:100%}
.timers-nav{margin-bottom:10px;zoom:1}
.timers-nav:before,.timers-nav:after{content:"";display:table}
.timers-nav:after{clear:both}
.project{background:#fff;zoom:1;margin-bottom:10px;-webkit-border-radius:4px;border-radius:4px;display:block;padding:15px;}
.project:before,.project:after{content:"";display:table}
.project:after{clear:both}
.project input{background:#fff;-webkit-border-radius:3px;border-radius:3px;border:2px solid #454545;color:#454545}
.tag{padding:5px;background:#b4bac2;-webkit-border-radius:3px;border-radius:3px;font-size:11px;text-transform:uppercase;font-weight:800;color:#fff;margin-right:5px}
.decipher-tags{height:51px;margin:0 10px;padding:0 5px 5px 5px;-webkit-border-radius:4px;border-radius:4px}
.decipher-tags-taglist{margin-bottom:4px;display:inline}
.decipher-tags-tag{display:inline-block;-webkit-border-radius:3px;border-radius:3px;background-color:#2b3137;color:#535a5f;font-weight:800;padding:2px 5px;margin-right:5px;margin-top:5px}
.decipher-tags-tag i{color:#535a5f;text-decoration:none;cursor:pointer;-webkit-transition:color .3s;-moz-transition:color .3s;-o-transition:color .3s;-ms-transition:color .3s;transition:color .3s}
.decipher-tags-tag.selected{background-color:#be3636}
.decipher-tags-tag:hover i{color:#be3636;text-decoration:none}
.decipher-tags-input{border:none;outline:0}
.decipher-tags-invalid{color:#fff}
.decipher-tags-controls{margin-top:8px;min-height:28px}
.decipher-tags-icon{margin:5px 10px 0 0;color:#fff}
