.header-container
  if (req.user)
    ul
      li
        a(href='/auth/log-out') Sign Out

    p Hello #{req.user.username}
  else
    ul
      li
        a(href='/sign-in') Sign In
      li
        a(href='/sign-up') Register