extends ../layout
block content
  header.landing__header
    nav.landing__nav
      a(href="/login").landing__login Login
      //- a(href="/signup").btn Signup

    a(href="/").landing__logo
      img(src="/img/landing/logo.png")

  section.landing__pricing
    .content
      h1 How big is your team?
      h2 Try any plan for 2 months for free.

      .landing__pricing__packages

        a(href="/mailing-list").landing__pricing__package
          h3 Going solo?
          h4
            | $5
            small /month
          p
            strong Unlimited 
            | projects
          p
            strong Unlimited 
            | tasks per project
          p
            strong 1 
            | member

        a(href="/mailing-list").landing__pricing__package
          h3 Small Team
          h4
            | $10
            small /month
          p
            strong Unlimited 
            | projects
          p
            strong Unlimited 
            | tasks per project
          p
            strong 5 
            | member

        a(href="/mailing-list").landing__pricing__package.no-margin-right
          h3 Large Team
          h4
            | $15
            small /month
          p
            strong Unlimited 
            | projects
          p
            strong Unlimited 
            | tasks per project
          p
            strong 10 
            | member