.dropdown-menu
  background $colorBlue
  border 0px
  box-shadow 0px
  thead
    text-align center
  button
    padding 4px
    border-radius 0px
  .text-muted
    color $colorBlue
    // background $colorBlue
    // &:hover
    //   color $colorBlue
    //   background $colorBlue