.element
  background #ffffff
  clearfix()
  margin-bottom 10px
  border-radius 4px
  display block
  padding 15px
  input
    background #ffffff
    border-radius 3px
    border 3px solid #eeeff0
    color #6b7680
    font-weight 800
    padding 12px
    transition all .3s
    &:focus
      border-color #6b7680
      background #ffffff
    &::-webkit-input-placeholder
      color #6b7680
    &:-moz-placeholder
      color #6b7680
    &::-moz-placeholder
      color #6b7680
    &:-ms-input-placeholder
      color #6b7680