.content-wrapper
  margin 93px 0px 0px 170px
  &.nav-open
    margin-top 170px

.header-timer
  background #363e45
  box-shadow 0px 10px rgba(#363e45, 10%)
  position fixed
  top 0px
  left 0px
  right 0px
  z-index 999
  padding-left 170px
  input
    background #535a5f
    width 100%
    height 51px
    &:focus
      background lighten(#535a5f, 10%)
  pre
    color #ffffff

//==============================================================================
//  Current Timer | ^current ^timer
//==============================================================================
.timer__current__basic
  animation fadeIn .5s
  padding 9px 0 7px 0

.timer__current__desc
  width 515px
  float left
  // margin 13px 20px 0 0
  h3
    @extends .truncate
    font-size 25px
    color #ffffff
    margin -4px 0px 0px 0px
  h5
    margin 0
    font-size 16px
    display inline
    margin-right 20px
    color #b4bac2
.timer__current__tags
  display inline
  i
    color #b4bac2
    margin-right 7px

.timer__current__time
  width 175px
  float left
  font-size 16px
  color #ffffff
  margin 13px 20px 0 0
  i
    margin-right 10px
    font-size 30px
    vertical-align -5px

.timer__current__action
  width 160px
  float left
  .btn
    width 100%

//==============================================================================
//  Timer basic | ^timer
//==============================================================================
.timer__basic
  background #363e45
  animation fadeIn .5s
  padding 10px 0px
  height 69px
  clearfix()

.timer__basic__title
  width 340px
  margin-right 20px
  float left

.timer__basic__project
  width 340px
  margin-right 20px
  float left

.timer__basic__btn
  width 160px
  float left
  .btn
    width 100%

//==============================================================================
//  Timer advanced | ^timer ^nav
//==============================================================================
.timer__advanced
  background $colorBlack
  clearfix()
  height 71px
  padding 10px 0px
  input
    background #41494f
    &:focus
      background #41494f

.timer__advanced__tags
  width 520px
  float left
  margin-right 20px
  background #41494f
  border-radius 3px
  input
    min-width 160px
    width 160px

.decipher-tags-tag
  background #2b3137
  color #535a5f
  padding 5px 10px
  text-transform uppercase
  i
    cursor pointer

.timer__advanced__time
  width 160px
  float left
  margin-right 20px

.timer__advanced__date
  width 160px
  float left

.form-group
  position relative
  .dropdown-menu
    position absolute
    top 0px
    right 0px
    width 323px
    button
      padding 4px

//==============================================================================
//   Timer opening animation | ^
//==============================================================================
.timer__advanced
  height 0px
  padding 0px
  display none
  transition height .4s, padding .4s .1s

.timer__advanced__time
.timer__advanced__date
.timer__advanced__tags
  transition opacity .4s .4s
  opacity 0

.timer-focus
  .timer__advanced
    height 71px
    padding 10px 0px
    display block
  .timer__advanced__time
  .timer__advanced__date
  .timer__advanced__tags
    opacity 1