.aside-nav
  width 170px
  position fixed
  // float left
  background $colorGreyDark
  color $colorWhite
  height 100%
  z-index 9999
  top 0px
  bottom 0px
  left 0px

.header-logo
  margin 0
  font-size 25px
  text-align center
  height 69px
  padding-top 15px

.nav
  ul
    @extends .list-no-style
  a
    text-decoration none
    color #b4bac2
  li
    font-size 16px
    padding 15px 10px
    transition background .3s
    &:hover
      background #41494f
      color #ffffff
  .is-active
    background #41494f
    color #ffffff
    &:hover
      background #41494f
  i
    width 15px
    text-align center
    margin-right 11px

.nav-signout
  position absolute
  bottom 0px
  width 170px