.project
  @extends .element

.project-form
  margin-bottom 15px

.project-form__input
  border 2px solid $colorGreyLight
  color $colorGreyDark
  padding 13px
  border-radius 3px
  background $colorGreyPlain
  width 340px
  margin-right 20px
  transition all .3s
  &:focus
    border-color #41494f
    background $colorGreyPlain