.project
  background #ffffff
  clearfix()
  margin-bottom 10px
  border-radius 4px
  display block
  padding 15px
  input
    background #ffffff
    border-radius 3px
    border 2px solid #454545
    color #454545
    