.results
  @extends .element
  padding 0px
  overflow hidden
  table
    width 100%
  thead
    background $colorGreyDark
    th
      color #ffffff
  th
  td
    // width 25%
    // display block
    // float left
    text-align left
    padding 10px
  tr:nth-of-type(2n)
    background #eff6fc

.results__column-title
  width 40%
.results__column-project
.results__column-tags
.results__column-date
.results__column-time
  width 15%


.form-report__label
  width (70 - 15)px
  float left
  padding-top 15px


.form-report__input
  float left
  width 150px


//==============================================================================
//  Dates | ^
//==============================================================================
.form-report__date
  clearfix()
  margin-bottom 25px

.form-report__date__from
.form-report__date__to
  width (250 - 15)px
  float left

.form-report__date__quick
  .btn
    padding-left 14px
    padding-right 14px

//==============================================================================
//  Second row | ^
//==============================================================================
.form-report__second_row__tags
.form-report__second_row__projects
  clearfix()
  margin-bottom 25px
  .form-report__input
    width 650px
  .select2-container
    min-width 400px

.form-report__submit
  clearfix()
  .btn
    float right
