.results
  @extends .element
  padding 0px
  overflow hidden
  table
    width 100%
  thead
    background $colorGreyDark
    th
      color #ffffff
  th
  td
    width 25%
    display block
    float left
    text-align left
    padding 10px
  tr:nth-of-type(2n)
    background #eff6fc