// body
//   .report__project__container
//     .select2-choices
//       background #ffffff
//       border-radius 3px
//       border 3px solid #eeeff0
//       color #6b7680
//       font-weight 800
//       padding 12px
//       transition all .3s
//     // .select2-search-field
//     &.select2-container-active
//       .select2-choices
//         border 3px solid $colorBlue !important
//     .select2-choices
//       height 52px !important
//       box-shadow none !important
//       .select2-search-choice
//         background #b4bac2
//         color #ffffff
//         border-radius 3px
//         font-size 11px
//         padding 3px 20px 3px 5px
//         position relative
//         margin 0 10px 0 0
//         line-height auto
//         border none !important
//         .select2-search-choice-close
//           right 3px
//           left auto
//           margin-top -5px
//           color #535A5F
//           font-size 15px