.timers
  margin-top 40px

.no-timers
  position: relative;
  overflow: hidden;
  padding: 30px 0px 40px 250px;
  i
    font-size: 280px;
    color: #D5D5D5;
    position: absolute;
    top: -38px;
    left: -10px;
  h1
    text-align: left;
    margin: 0;
  h3
    margin: 0;

.timer
  @extends .element
  height 81px
  position relative
  input
    background #ffffff
    border-radius 3px
    border 2px solid #454545
    color #454545

.timer__title
  font-size 25px
  margin 0
  color #41494f
  @extends .truncate
  width 100%

.timer__project
  margin 0 20px 0 0
  color #a1a5a8
  float left
  font-size 15px
  font-weight 600

.timer__desc
  width 480px
  margin-right 20px
  float left

.timer__tags
  i
    margin-right 5px
    color #b4bac2

.timer__time
  width 178px
  float left
  h3
    margin-top 12px
    color #535a5f
  i
    font-size 20px
    margin-right 5px
    font-size: 29px;
    vertical-align: -5px;
    color #535a5f

.timer__btn
  width 160px
  float right
  .btn
    width 100%

.timer__remove
  position absolute
  right -30px
  top 31px
  cursor pointer
  i
    font-size 22px
    color #888888
    transition color .5s
    &:hover
      color $colorRed


//==============================================================================
//  Timers nav | ^timer ^nav
//==============================================================================
.timers-nav
  margin-bottom 10px
  clearfix()