// .wrapper
//   width 80%
//   // max-width 1440px
//   max-width 1000px
//   margin 0 auto

body
html
  margin 0
  padding 0
  height 100%
  background #eeeff0

.container
  max-width 880px
  margin 0 auto