// $mediaTab = "(min-width:700px)"
// $mediaDesktop = "(min-width: 1110px)"
// $mediaRetina = "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)"

$colorGreyDark = #363e45
$colorGreyLight = #b4bac2
$colorGreyPlain = #eeeff0

$colorBlack = #2A3035
$colorWhite = #eeeff0

$colorBlue = #7e9bb8
$colorGreen = #6ec689
$colorRed = #be3636